body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: grey;
  background: url(https://unsplash.com/photos/6vBmT14TCjU/download?force=true)
    bottom no-repeat;
  background-size: cover;
}

h1 {
  color: aliceblue;
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
}

footer {
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;
}

footer .links {
  margin-bottom: 50px;
}

footer .links > a {
  color: grey;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.copyright {
  color: grey;
  font-family: "Times New Roman", Times, serif;
}

.news {
  background-color: white;
  padding: 50px 0 32px;
}

article {
  width: 768px;
  margin: 0 auto 32px;
  padding: 6px 15px;
  border-bottom: 1px solid rgb(128, 128, 128);
}

article a {
  color: rgb(33, 37, 41);
  text-decoration: none;
}

article a:hover {
  color: #0085a1;
}

article h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.article-meta {
  color: rgb(134, 142, 150);
  margin-bottom: 5px;
}

article img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.news:nth-of-type(even) {
  background-color: rgb(47, 135, 161);
  color: azure;
}

.header2::before {
  color: blue;
  content: "New";
  margin-right: 10px;
  font-family: "Times New Roman", Times, serif;
}
